
.idea/

data/mimiciii_postgres/*
!data/mimiciii_postgres/.gitkeep

data/mimiciii_raw/csv/*
data/mimiciii_raw/gz/*
data/mimiciii_raw/gz_backup/*
!data/mimiciii_raw/csv/.gitkeep
!data/mimiciii_raw/gz/.gitkeep
